body{
  font-family: Helvetica, 'Courier New', sans-serif; /* Choose better font */
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../images/img4.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  transition: all 0.05s ease-out 0.1s;
  -moz-transition: all 0.05s ease-out 0.1s;
  -webkit-transition: all 0.05s ease-out 0.1s;
  -o-transition: all 0.05s ease-out 0.1s;
  -ms-transition: all 0.05s ease-out 0.1s;
}

.container{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  padding-bottom: 200px;
}

#greeting{
  margin-top: 5px;
}

#greeting h2{
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 0;
  transition: all 0.8s ease-in-out 0.5s;
  -moz-transition: all 0.8s ease-out 0.5s;
  -webkit-transition: all 0.8s ease-out 0.5s;
  -o-transition: all 0.8s ease-out 0.5s;
  -ms-transition: all 0.8s ease-out 0.5s;
}

.time{
  margin-top: 36px;
  text-align: center;
  font-size: 35px;
  font-family: Tahoma;
}

.time #hour, .time #min{
  transition: all 1.4s ease-in-out 0.2s;
  -moz-transition: all 1.4s ease-out 0.2s;
  -webkit-transition: all 1.4s ease-out 0.2s;
  -o-transition: all 1.4s ease-out 0.2s;
  -ms-transition: all 1.4s ease-out 0.2s;
}
.time #date{
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 35px;
  font-family: Tahoma;
  transition: all 2.0s ease-in-out 0.6s;
  -moz-transition: all 2.0s ease-out 0.6s;
  -webkit-transition: all 2.0s ease-out 0.6s;
  -o-transition: all 2.0s ease-out 0.6s;
  -ms-transition: all 2.0s ease-out 0.6s;
}

#what{
  text-align: center;
  font-style: italic;
  font-size: 20px;
  transition: all 1.3s ease-in-out 1.0s;
  -moz-transition: all 1.3s ease-out 1.0s;
  -webkit-transition: all 1.3s ease-out 1.0s;
  -o-transition: all 1.3s ease-out 1.0s;
  -ms-transition: all 1.3s ease-out 1.0s;
}

input[type=text]{
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #f4f4f4;
  background-color: transparent;
  outline: none;
  width: 250px;
  font-size: 20px;
  transition: all 0.8s ease-in-out 1.2s;
  -moz-transition: all 0.8s ease-out 1.2s;
  -webkit-transition: all 0.8s ease-out 1.2s;
  -o-transition: all 0.8s ease-out 1.2s;
  -ms-transition: all 0.8s ease-out 1.2s;
}

ul{
  box-sizing: border-box;
}

ul .listItems{
  list-style: none;
  padding: 3px 5px;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  outline: none;
  /* background: #333; */
}

.editable{
  outline: none;
}

.btn{
  width:25px;
  height: 20px;
  text-align: center;
  margin-left: 5px;
}

.delete{
  background-color: red;
  margin-left: 20px;
  border: none;
  opacity: 0.8;
}

.checks{
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  }

#signout{
    margin-top: 20px;
    padding: 8px 13px;
    color: #fff;
    background: #000;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    text-align: center;
    background: solid;
    position: fixed;
    /* position: absolute; */
    /* margin: 0 auto; */
    top: 83%;
    left: 47%;
    display: block;
  }

  #signout:hover{
    cursor: pointer;
    background: #333;
    color: #f3f3f3;
  }

#footer{
  text-align: center;
  font-family: 'Courier New';
  color: #000;
  font-weight: bold;
  width: 100%;
  padding: 8px;
  position: fixed;
  top: 92%;
  left: 0%;
}

@media (max-width:700px){

  body{
    background-size: auto;
    margin: auto;
  }

  ul{
    display: block;
  }

  #signout{
    position: absolute;
    top:80%;
    left:50%;
    margin: 0 auto;
  }

  #footer{
    position: absolute;
    top:92%;
    left:0%;
  }

}
